# MATH170 Chapter 0: Introduction to Python and NumPy

**Objective:** Learn basic Python syntax and NumPy operations for use in calculus and data science.

### Part 1: Basic Python Types
Python supports integers, floats, strings, and booleans.

In [ ]:
# Create three variables and print them
my_age = 20             # integer
pi_approx = 3.1415       # float
my_name = "Joon"         # string

In [ ]:
print("Age:", my_age)
print("Approximate pi:", pi_approx)
print("My name is", my_name)

In [ ]:
# Check the type of each variable
print("Type of my_age:", type(my_age))
print("Type of pi_approx:", type(pi_approx))
print("Type of my_name:", type(my_name))

In [ ]:
# Type coercion: int + float results in float
print("my_age + pi_approx =", my_age + pi_approx)
print("Type of result:", type(my_age + pi_approx))

In [ ]:
# Invalid operation: int + str
result = my_age + my_name

In [ ]:
# valid operation: int * str
result = my_age * my_name

In [ ]:
print("Result of my_age * my_name =",result)

In [ ]:
# valid operation: float * str
result = pi_approx * my_name

___
### Hands-On Practice 1
1. Create three variables:
- an integer called `my_year`
- a float called `g_constant` (g is gravitational acceleration)
- a string called `my_school`
2. Then print them using the `print()` function.

3. Try printing each variable's type using `type()`.
4. Try multiplying the float by 2 and adding 10 to the integer.
___

In [ ]:
# Your code here

## Part 2: Lists and Indexing
Lists store multiple values. Indexing starts from 0 in Python.

In [ ]:
# Create a list of numbers (10 items)
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print("First item:", my_list[0])
print("Second item:", my_list[1])
print("Last item:", my_list[-1])
print("Items 2 to 6 (index 1 to 5):", my_list[1:6])
print("2nd and 4th items using indexing:", [my_list[i] for i in [1, 3]])

selected_items = [my_list[1], my_list[2], my_list[6]]
print("Direct indexing result:", selected_items)

___
### Hands-On Practice 2
Create a list with 10 of your friends' names. Print:
- The 3rd name
- The last name
- The 2nd, 4th, and 7th names using list indexing
___

In [ ]:
# Your code here

## Part 3: Introduction to NumPy
NumPy is the foundation of scientific computing in Python.

In [ ]:
import numpy as np

# Create a NumPy array
arr = np.array([1, 2, 3, 4, 5])
print("Original array:", arr)

In [ ]:
# Create arrays using arange
arr1 = np.arange(1, 101)
arr2 = np.arange(2, 101, 2)
print("Array from 1 to 100:", arr1)
print("Even numbers from 2 to 100:", arr2)

In [ ]:
# Create evenly spaced array using linspace
arr3 = np.linspace(0, 1, 11)
print("Array from 0 to 1 with 11 values:", arr3)

In [ ]:
# Element-wise operation
print("Array + 2:", arr + 2)

In [ ]:
# Loop operations with lists
number_list = [1, 2, 3, 4, 5]
sum_list = sum(number_list)
product_list = np.prod(number_list)
print("Sum of list elements:", sum_list)
print("Product of list elements:", product_list)

In [ ]:
# Loop operations with NumPy array
sum_arr = sum(arr)
product_arr = np.prod(arr)
print("Sum of NumPy array elements:", sum_arr)
print("Product of NumPy array elements:", product_arr)

In [ ]:
# Square each element
print("Array squared:", arr ** 2)

___
### Hands-On Practice 3
- Create an array with values 0 to 9 with dx=1. 
- Multiply it by 3 and square it.
- Try calculating the sum of all elements using a for loop and using `np.sum()`.
___

In [ ]:
# Your code here

## Part 4: Array Slicing and Indexing
NumPy slicing is similar to Python lists but more powerful.

In [ ]:
# Slicing array
print("arr[1:4]:", arr[1:4])
print("arr[1:]:", arr[1:])
print("arr[-2:]:", arr[-2:])
print("arr[2:-2]:", arr[2:-2])
print("arr[::2]:", arr[::2])
print("arr[::-2]:", arr[::-2])

___
### Hands-On Practice 4
Create an array with values from 10 to 19. Then:
- Slice and print values from index 2 to 6
- Print every second element using slice step
- Print the reversed array
___

In [ ]:
# Your code here

## Part 5: NumPy Array Functions

In [ ]:
data = np.array([2, 4, 6, 8, 10])

print("Mean:", np.mean(data))
print("Standard Deviation:", np.std(data))
print("Sum:", np.sum(data))
print("Max:", np.max(data))

___
### Hands-On Practice 5
Create a NumPy array with values from 5 to 25. Then:
- Calculate mean, min, max, standard deviation
- Use slicing to extract the middle 5 values
- Try multiplying all values by 2 and computing their new mean
___

In [ ]:
# Your code here

## Final Exercises (To Submit)
You will simulate and analyze student height data:

1. Create a list of 10 student names (your classmates).
2. Create a NumPy array with their heights (in ft).
3. Print the height of the 3rd and last student.
4. Compute and print the average height, the tallest height, and the shortest height.
5. Create a new array that stores height in meters (by unit conversion).
6. Bonus: Sort the names based on height and print the top 3 tallest students.

In [ ]:
# Your code here

End of Chapter 1